body {
	background-color:#edf6ff;
}

.story-top{
	font-family:"Georgia", serif;
	border-top: 10px #041d8c solid;
    border-bottom: 10px #041d8c solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    max-width:800px;
    background-color:#9ad6ed;
    border-left:10px #041d8c solid;
    border-right: 10px #041d8c solid;
    margin-left: auto;
    margin-right: auto;

}

.lead-image {
	max-width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.secondary-image {
	max-width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 800px;
	margin-left:auto;
	margin-right: auto;
}

.text {
	font-family:"georgia", sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	max-width:  800px;
	margin-right:auto;
	margin-left:auto;
	font-size: 20px;
}

.deck {
	font-family: "Playfair Display", sans-serif;
	color: darkred;
	font-weight: bold;
}



